html {
  font-family: sans-serif;
}

footer {
  margin-right: 2rem;
  margin-top: 1.5rem;
}

.btn {
  /* Override class of Spectre CSS. To be declare after Spectre CSS to override it*/
  overflow-wrap: break-word;
  height: auto;
  white-space: inherit;
}

.bpmn-container {
  /* use absolute values for height to ensure that the vertical diagram is not fully displayed when the page is opened. */
  /* width is relative to the window size */
  height: calc(100vh - 11rem);
  border-style: solid;
  border-color: #303742;
  border-width: medium;
  border-radius: .3rem;
  /* This ensures that the parts of the diagram outside of the container are not displayed. */
  overflow: hidden;
  background-color: white;
}

:root {
  /* Happy Path */
  --color-highlight-happy: Green;
  --happy-path-stroke-width: .2rem;
  /* Compliance Rules: Violations */
  --color-highlight-violation-level1: rgb(252, 3, 3);
  --color-highlight-violation-level2: rgb(252, 86, 3);
  --color-highlight-violation-level3: rgb(252, 144, 3);
}

/* ripple circles */
.bpmn-type-activity.rule-violation > circle {
  stroke-opacity: 0;
  animation: pulse-rule-violation 2s linear infinite;
}

.bpmn-type-activity.rule-violation > circle.rp1 {
  animation-delay: 0.5s;
}
.bpmn-type-activity.rule-violation > circle.rp2 {
  animation-delay: 0.7s;
}
.bpmn-type-activity.rule-violation > circle.rp3 {
  animation-delay: 0.9s;
}
@keyframes pulse-rule-violation {
  0% {
    stroke-opacity: 0.1;
  }
  50% {
    stroke-opacity: 1;
  }
  100% {
    stroke-opacity: 0.1;
  }
}

/*.bpmn-type-activity.highlight-rule-violation-level1 > rect {
  fill: var(--color-highlight-violation-level1);
  fill-opacity: 20%;
  stroke: var(--color-highlight-violation-level1);
}

.bpmn-type-activity.highlight-rule-violation-level2 > rect {
  fill: var(--color-highlight-violation-level2) !important;
  fill-opacity: 20% !important;
  stroke: var(--color-highlight-violation-level2);
}

.bpmn-type-activity.highlight-rule-violation-level3 > rect {
  fill: var(--color-highlight-violation-level3) !important;
  fill-opacity: 20% !important;
  stroke: var(--color-highlight-violation-level3);
}*/

/*pulse CSS */
/*.bpmn-type-activity.pulse-rule-violation-level1 > rect {
  animation: pulse-violation-level1 2s alternate infinite;
}

.bpmn-type-activity.pulse-rule-violation-level2 > rect {
  animation: pulse-violation-level2 2s alternate infinite;
}

.bpmn-type-activity.pulse-rule-violation-level3 > rect {
  animation: pulse-violation-level3 2s alternate infinite;
}

@keyframes pulse-violation-level1 {
  0% {
    fill: #ffffff;
    stroke: var(--color-highlight-violation-level1);
  }
  50% {
    fill: var(--color-highlight-violation-level1);
  }
}

@keyframes pulse-violation-level2 {
  0% {
    fill: #ffffff;
    stroke: var(--color-highlight-violation-level2);
  }
  50% {
    fill: var(--color-highlight-violation-level2);
  }
}

@keyframes pulse-violation-level3 {
  0% {
    fill: #ffffff;
    stroke: var(--color-highlight-violation-level3);
  }
  50% {
    fill: var(--color-highlight-violation-level3);
  }
}*/


.bpmn-type-activity.pulse-happy > rect, .bpmn-type-event.pulse-happy > ellipse {
  animation-name: pulse-happy-path;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes pulse-happy-path {
  0% {
    fill: rgb(0, 128, 0, .2);
    stroke: white;
  }
  50% {
    fill: white;
  }
  100% {
    stroke: var(--color-highlight-happy);
    stroke-width: var(--happy-path-stroke-width);
  }
}

.gateway-happy > path, .growing-happy > path {
  --stroke: var(--color-highlight-happy);
  --stroke-width: var(--happy-path-stroke-width);
  --fillStart: white;
  --fillEnd: white;
  animation-name: grow;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.gateway-happy > path:nth-child(1) {
  --fillStart: rgb(0, 128, 0, .2);
  --fillEnd: white;
}

.gateway-happy > path:nth-child(2) {
  --stroke-width: .1rem;
  --fillStart: var(--color-highlight-happy);
  --fillEnd: var(--color-highlight-happy);
}

.growing-happy > path:nth-child(3) {
  --fillStart: var(--color-highlight-happy);
  --fillEnd: var(--color-highlight-happy);
}

@keyframes grow {
  from {
    stroke-dashoffset: 100%;
    stroke-dasharray: 100%;
    stroke: var(--stroke);
    stroke-width: var(--stroke-width);
    fill: var(--fillStart);
  }
  to {
    stroke-dashoffset: 0;
    stroke: var(--stroke);
    stroke-width: var(--stroke-width);
    fill: var(--fillEnd);
  }
}

.tippy-box[data-theme~="violation"] {
  background-color: black;
  color: yellow;
}
